img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
 
 
  
}

 button{
    text-align: center ;
    margin: 20px auto ;
    width: fit-content;
   background-color:#8B4B54;
   color:#FFFDD0;
   font-size:20px;
   font-family: "Open Sans", sans-serif;
} 


p{
    text-align:center;
    margin:20px;
    font-family: "Open Sans", sans-serif;
    font-size:15px;
}


.inputs {
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin:5px;

   
}


input{
margin:5px;
height:35px;
 text-align:center; 

}

h1{
    text-align:center;
    font-family: "Comfortaa", sans-serif;
    
}

.shoe1{
    display:flex;
    justify-content:center;
   
}

body {
    color:#8B4B54;
   
}

