img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
 
  
}

 button{
    text-align: center ;
    margin: 0 auto ;
    width: fit-content;
} 

p{
    text-align:center;
    margin:20px;
    font-family: "Open Sans", sans-serif;
    font-size:15px;
}


.inputs {
    display:flex;
    justify-content:center;
    flex-direction:column;
  

   
}

h1{
    text-align:center;
    font-family: "Comfortaa", sans-serif;
}

.shoe1{
    display:flex;
    justify-content:center;
   
}

body {
    color:#8B4B54;
}


